.photo-grid__list{
    margin:0;
    padding:0;
    list-style:none;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr 1fr;
    grid-gap: 16px;
}

@media screen and (max-width:1300px){
    .photo-grid__list{
        grid-template:1fr 1fr 1fr 1fr/1fr 1fr 1fr;
        grid-gap:14px;
    }
}

@media screen and (max-width:1000px){
    .photo-grid__list{
        grid-template:1fr 1fr 1fr 1fr 1fr/1fr 1fr;
    }
}

@media screen and (max-width:770px){
    .photo-grid__list{
        grid-template:1fr 1fr 1fr 1fr 1fr 1fr/1fr;
        grid-gap:12px;
    
    }
}