.intro__subtitle{
    font-size:24px;
    line-height:34px;
    font-family:"Inter Light", sans-serif;
    margin:6% 0 0;
}

@media screen and (max-width:425px){
    .intro__subtitle{
        font-size:24px;
        line-height:30px;
    }
}