@import url(./__place/places__place.css);
@import url(./__place/__place_two-lines/places__place_two-lines.css);
@import url(./__title/places__title.css);
@import url(./__link-text/places__link-text.css);
@import url(./__link/places__link.css);
@import url(./__text/places__text.css);
@import url(./__image/places__image.css);
@import url(./__info/places__info.css);


.places{
    margin: 100px auto 80px;
}

@media screen and (max-width:1024px){
    .places{
        max-width:928px;
    }
}

@media screen and (max-width:786px){
    .places{
        max-width:100%;
        margin:76px 24px 100px;
    }
}

@media screen and (max-width:550px){
    .places{
        margin:64px 0 0;
    }
}

