.places__link{
    grid-column: 2;
    grid-row: 1;
    font-size: 18px;
    line-height: 122%;
    text-decoration-line: underline;
    color: #FFFFFF;
}


.places__link:hover{
    opacity:.8;
}

@media screen and (max-width:550px){
    .places__link{
        display:none;
    }
}
