@import url(../lead/__title/lead__title.css);
@import url(../lead/__subtitle/lead__subtitle.css);
@import url(../lead/__caption/lead__caption.css);
@import url(../lead/__image/lead__image.css);
@import url(../lead/__image-container/lead__image-container.css);


.lead{
    color: white;
    display:grid;
    max-width:984px;
    margin:5% auto 0;
}

@media screen and (max-width:1024px){

    .lead{
      max-width:928px;
    }
  }

  @media screen and (max-width:768px){

    .lead{
      width: 100%;
    }
  }