.photo-grid__item{
    width:284px;    
}

@media screen and (max-width:880px){
    .photo-grid__item{
        width:352px;
    }
}

@media screen and (max-width:720px){
    .photo-grid__item{
        width:288px;
    }
}

@media screen and (max-width:320px){
    .photo-grid__item{
        width:300px;
    }
}