@import url(../header/__links/header__links.css);
@import url(../header/__lang-link/header__lang-link.css);
@import url(../header/__container/header__container.css);


.header{
    min-width:984px;
    margin:34px auto 0;
}

@media screen and (max-width:1200px){
    .header{
        min-width:928px;
    }
}

@media screen and (max-width:915px){
    .header{
        min-width:720px;
    }
}

@media screen and (max-width:725px){
    .header{
        min-width:320px;
    }
}

@media screen and (max-width:400px){
    .header{
        min-width:288px;
    }
}