@import url(../header/__links/header__links.css);
@import url(../header/__lang-link/header__lang-link.css);
@import url(../header/__container/header__container.css);


.header{
    display:flex;
    justify-content:space-between;
}

@media screen and (max-width:320px){
    .header{
        margin-top:20px;
    }
}

@media screen and (min-width:325px){
    .header{
        margin-top:34px;
    }
}