.lead__image{
    margin: auto;
    width: 984px;
}

@media screen and (max-width:1024px){
    .lead__image{
        margin:0;
        width:928px;
    }
}

@media screen and (max-width:768px){
    .lead__image{
        width:100%;
    }
}


