@import url(../intro/__title/intro__title.css);
@import url(../intro/__subtitle/intro__subtitle.css);
@import url(../intro/__text/intro__text.css);
@import url(../intro/__list/intro__list.css);
@import url(../intro/__list-item/intro__list-item.css);
@import url(../intro/__span-accent/intro__span-accent.css);



.intro{
    display: grid;
    color: white;
    max-width: 690px;
    margin: 7% 0 0 21.5%;

}