.lead__subtitle{
    font-size:30px;
    font-weight:400px;
    margin:0 auto 6% auto;
    max-width: 620px;
    text-align: center;
    line-height:120%;
}


@media screen and (max-width:425px){
    .lead__subtitle{
        font-size:16px;
        line-height:125%;
    }
}