@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);
@import url(./__link-list/footer__link-list.css);

.footer{
    display: flex;
    justify-content:space-between;
    margin: 92px auto 24px;
    min-width:1184px;

}

@media screen and (max-width:1380px){
    .footer{
     min-width:928px;   
    }
}

@media screen and (max-width:1120px){
    .footer{
     min-width:720px;
    }
}

@media screen and (max-width:875px){
    .footer{
        min-width:320px;
        
    }
}

@media screen and (max-width:400px){
    .footer{
        margin:64px 136px 24px 16px;
        display:grid;

    }
}